DB_HOST=localhost
DB_PORT=5432
DB_NAME=fdp_metadata
DB_USER=postgres
DB_PASSWORD=password

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword
MINIO_SECURE=False

LOCAL_STORAGE_PATH=./data_storage
